1. What are escape characters, and how do you use them?

Ans :- In python escape character is blacklash '\' . It will be used when we need tab space '\t' and newline '\n' and '\r' carrage return and etc .

2. What do the escape characters n and t stand for?

In [2]:
print("super\nstar\tskp")

super
star	skp

If u see above '\n' gives the newline and '\t' gives the whitespace

3. What is the way to include backslash characters in a string?

In [3]:
print("su\\per")

su\per

If we want to include a blacklash character in a string we should give two blacklashes like '\\'

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

In [4]:
str = "Howl's Moving Castle"
str

"Howl's Moving Castle"

The single quote in Howl's is not creating a problem bcz at the end of the string we are having double quotes . Even at the beginning of the string we are not having single quote . If we have single quote at the beginning of the string then it will cause the problem

In [5]:
str = 'Howl's Moving Castle'
str

SyntaxError: invalid syntax (Temp/ipykernel_12924/2881963921.py, line 1)

Now u can that since we are having single quote at the beginning of the string it is causing error

5. How do you write a string of newlines if you don't want to use the n character?

Ans:- We can write a string of new lines by using print statements without using \n character

In [1]:
print("Hallo")
print("World")

Hallo
World

Here u can see that we have written two new lines with the help of two print functions.

6. What are the values of the given expressions?
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]

In [2]:
print('Hello, world!'[1])
print('Hello, world!'[0:5])
print('Hello, world!'[:5])
print('Hello, world!'[3:])

e
Hello
Hello
lo, world!

a.In first one it just print the index 1 element .....
b.In second and third one it prints from index 0 to index 4 and index 5 will be excluded ....
c.In fourth one it prints from index 3 to entire string

7. What are the values of the following expressions?
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()

In [3]:
print('Hello'.upper())
print('Hello'.upper().isupper())
print('Hello'.upper().lower())

HELLO
True
hello

a.In first one string will converted to uppercase letters ... 
b.In second one since all the letters are in upper case so issuper() will return True ...
c.In third one first Hello will be converted to HELLO and then it will be converted to lower which is hello

8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())

In [4]:
print('Remember, remember, the fifth of July.'.split())
print('-'.join('There can only one.'.split()))

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']
There-can-only-one.

In [8]:
type('-'.join('There can only one.'.split()))

str

a. In first one it will split the string based on the space between the substrings and will return a list ....
b. In second one it will split based on the space only but since we are joining them with the '-' so it will return the string only

9. What are the methods for right-justifying, left-justifying, and centering a string?

Ans :- a.right-justifying : rjust()
       b.left-justifying  : ljust()
       c centering        : center()

In [9]:
str = "super_star_skp"
print(str.rjust(20,'*'))
print(str.ljust(20,'*'))
print(str.center(20,'*'))

******super_star_skp
super_star_skp******
***super_star_skp***

10. What is the best way to remove whitespace characters from the start or end?

In [16]:
str = "  kulayappa  "
print(len(str))
print(str.rstrip()) #Removing right end whitespace
print(str.lstrip()) #Removing left end whitespace
print(len(str.rstrip()))
print(len(str.lstrip()))

13
  kulayappa
kulayappa
11
11