1.Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [2]:
guess_me=7
if(guess_me<7):
    print('too low')
elif(guess_me>7):
    print('too high')
else:
    print('just right')

just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [4]:
guess_me=7
start=1
while(1):
    if(start<guess_me):
        print('too low')
    elif(start>guess_me):
        print('oops')
        break
    else:
        print('found it!')
        break
    start+=1

too low
too low
too low
too low
too low
too low
found it!

3.Print the following values of the list [3, 2, 1, 0] using a for loop.

In [6]:
l=[3,2,1,0]
for i in l:
    print(i)

3
2
1
0

4.Use a list comprehension to make a list of the even numbers in range(10)

In [8]:
l=[i for i in range(10) if(i%2==0)]

In [9]:
l

[0, 2, 4, 6, 8]

5.Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [10]:
dict={i:i**2 for i in range(10)}

In [11]:
dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

6.Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [12]:
s={i for i in range(10) if(i%2==1)}

In [13]:
s

{1, 3, 5, 7, 9}

7.Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [18]:
str_gen=('Got '+str(i) for i in range(10))
for i in str_gen:
    print(i)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

8.Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [20]:
def good():
    lst=['Harry', 'Ron', 'Hermione']
    return lst

In [21]:
good()

['Harry', 'Ron', 'Hermione']

In [22]:
good()+[1,2,3]

['Harry', 'Ron', 'Hermione', 1, 2, 3]

9.Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [24]:
def get_odds():
    gen=(i for i in range(10) if(i%2==1))
    return gen

In [25]:
get_odds()

In [29]:
j=0
for i in get_odds():
    if(j==2):
        print('Third Element:',i)
    j+=1

Third Element: 5

10.Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [30]:
def OopsException(a):
    if (a==3):
        raise Exception("Caught an oops")

In [33]:
OopsException(3)

Exception: Caught an oops

In [34]:
try:
    OopsException(4)
    print("No Exception Found")
except Exception as e:
    print(e)

No Exception Found

In [35]:
try:
    OopsException(3)
    print("No Exception Found")
except Exception as e:
    print(e)

Caught an oops

11.Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habbit','Crewel Fate'] and plates =['A nun turns into a monstor','A haunted yarn shop']

In [36]:
movies={}
titles = ['Creature of Habbit','Crewel Fate']
plates =['A nun turns into a monstor','A haunted yarn shop']
for i in range(len(titles)):
    movies[titles[i]]=plates[i]
print(movies)

{'Creature of Habbit': 'A nun turns into a monstor', 'Crewel Fate': 'A haunted yarn shop'}