1. What exactly is []?

Ans :- [] this indiactes a list

In [1]:
l = []
print(type(l))

<class 'list'>

Here you can see that type of that variable l is "list"

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam = [2,4,6,8,10]
spam.insert(2,"hello")
print(spam)

[2, 4, 'hello', 6, 8, 10]

Here you can we have assigned  "hello" as a third value using insert method . In that function first argument is an index and second one is the value which we  want to insert

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans:-first int('3'*2) gives 33 then divide by 11 gives 3 that int(33/11) = 3 . Then spam[3] = 'd' since spam = ['a','b','c','d']

In [9]:
spam = ['a','b','c','d']
print(spam[int(int('3'*2)/11)])

d

4. What is the value of spam[-1]?

Ans : - spam[-1] means here index start from last like -1 , -2 ,-3 and -4 . so spam[-1] = 'd'

In [11]:
print(spam[-1])

d

5. What is the value of spam[:2]?

Ans:- Since spam[:2] index will start from 0 to 1 excluding index 2 . so it will return ['a','b']

In [10]:
print(spam[:2])

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

6. What is the value of bacon.index('cat')?

In [12]:
bacon = [3.14,'cat',11,'cat',True]
print(bacon.index('cat'))

1

Here in example if you see it gives the index of first occurence of the value in the list

7. How does bacon.append(99) change the look of the list value in bacon?

Ans :- bacon.append(99) will add the value 99 to the list at the end of the existing list . After this operation list would be like [3.14,'cat',11,'cat',True,99]

In [15]:
bacon = [3.14,'cat',11,'cat',True]
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [16]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

Here if youy see it will remove the first occurence of the value 'cat'

9. What are the list concatenation and list replication operators?

Ans - 
list concatanation : - we can use '+' operator 
list replication :- we can use '*'

#for concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b

In [21]:
c

[1, 2, 3, 4, 5, 6]

In [22]:
#for replication
c*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

10. What is difference between the list methods append() and insert()?

Ans:- The difference between append() and insert() is with append() method we can only add the value to the list at the end of the list but with insert() method we can at any spectific index means at any position

In [24]:
a = [1,2,3]
a.append("skp")
print(a)
#suppost i want insert "skp" at 2nd position which is at index 1
b = [4,5,6]
b.insert(1,"skp")
print(b)

[1, 2, 3, 'skp']
[4, 'skp', 5, 6]

11. What are the two methods for removing items from a list?

Ans:- We can remove the items from a list using remove() , pop() and clear() methods . With remove method we can remove the first occurence of the given value . With pop menthod we can remove the element at particular index and with the clear method we will remove the all the elements of the list

In [27]:
a = [1,2,1,1,1,2,4,5]
a.remove(2)
print(a)

[1, 1, 1, 1, 2, 4, 5]

In [30]:
a = [1,2,1,1,1,2,4,5]
a.pop(2)
print(a)

[1, 2, 1, 1, 2, 4, 5]

In [31]:
a = [1,2,1,1,1,2,4,5]
a.clear()
print(a)

[]

12. Describe how list values and string values are identical.

Ans:-The list values and string values follows the same indexing method . we can access elements of list same as accessing elements of string

In [32]:
l=['d','h','o','n','i']
for i in l:
    print(i,end="")

dhoni

In [33]:
s='dhoni'
for i in s:
    print(i,end="")

dhoni

In [34]:
l[2]

'o'

In [35]:
s[2]

'o'

13. What's the difference between tuples and lists?

Ans : The main difference between tuples and lists is tuples are immutable and lists are mutable means once tuple created means we cannot manipulate the tuple direclty but we can manipulate the list

In [36]:
t=(1,2,3,4)
print(t[2])

3

In [37]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [38]:
l=[1,2,3,4]
print(l[2])

3

In [39]:
l[2]=5

In [40]:
l

[1, 2, 5, 4]

Here you can see we have manipulated the list and we could not able to manipulate the tuple direclty

14. How do you type a tuple value that only contains the integer 42?

In [8]:
t=(42,) # We can create tuple with single value like this

In [9]:
t[0]

42

In [10]:
type(t)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [11]:
l=[1,2,3,4]
#To convert it into tuple
t=tuple(l)
print(t)
#To convert again from tuple to list
l=list(t)
print(l)

(1, 2, 3, 4)
[1, 2, 3, 4]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans:- Variables will contain the references to the list of values instead of having list of values themselves.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [2]:
import copy
l1 = [1,2,[2,3],4]
l2=copy.copy(l1)
l2[2][0]=5
print(l1)
print(l2)

[1, 2, [5, 3], 4]
[1, 2, [5, 3], 4]

In [3]:
import copy
l1 = [1,2,[2,3],4]
l2=copy.deepcopy(l1)
l2[2][0]=5
print(l1)
print(l2)

[1, 2, [2, 3], 4]
[1, 2, [5, 3], 4]

If u observe in copy.copy even if we made some changes in list l2 we are getting those changes in list l1 as well but when u use copy.deepcopy list l2 changes are not affecting l1