1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

Values :"hello" , -87.8 and 6
Expressions : * ,- , + ,/

2. What is the difference between string and variable?

Variable : we can assign a value or string to a variable . It indicates the location of that value or string
String : String is a value which will be inside a quotes and will be assigned to a String variable

3. Describe three different data types.

Three different data types :
1.Integer : Integer is basically a number without decimal points .Example : 1 ,2,-323 ...
2.Float   : Float is also a number with decimal points.Example : 1.2 , 2.44 ...
3.String  : Anything inside a quotes will be consider as a string . Example : "Dhoni","12342"

4. What is an expression made up of? What do all expressions do?

An expression is made up of mathematical operators and logical operators like * , - , + , / , or , and etc
All expressions will do mathematical operations and logical operations like addition , substraction,multiplication , division ,
AND operation , OR operation and EXOR etc

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An assignment operator spam = 10 indicates spam is variable for which value 10 is assigned means 
An expression indiactes operation means ultimately it will provide the result of that operation

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [8]:
bacon = 22
bacon+1

23

In [9]:
bacon

22

Herer Bacon value won't change because we are not assigning any operation to the Bacon

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [3]:
print('spam' + 'spamspam')

spamspamspam

In [4]:
print('spam' * 3)

spamspamspam

Here we can come to conclusion that Number of times u added the string is equal to number times u multiplied with integer

8. Why is eggs a valid variable name while 100 is invalid?

Eggs : is a valid variable name bcz to define a variable there are certain rules we had among them is variable should not start with an integer and some optional characters like #,@ etc
100  : is not a valid variable bcz it is starting with the integer which is valaiting the rules of defining a variable

In [5]:
Eggs =10

In [6]:
Eggs

10

In [7]:
100 = 10

SyntaxError: cannot assign to literal (Temp/ipykernel_2056/2666396822.py, line 1)

In [10]:
@Eggs =10

SyntaxError: invalid syntax (Temp/ipykernel_2056/3200244024.py, line 1)

In [11]:
_Eggs =10  #we can define a variable by starting with underscore character

In [12]:
#Eggs =10  # we already knew rite # bydefault indicates the comment

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [13]:
# Bydefault when i take the input from user it will assign that to a string
var = input("Enter the input : ")

Enter the input : 123

In [14]:
var

'123'

In [15]:
type(var)

str

In [16]:
# to convert from str to int we can do the type casting
var = int(var)

In [17]:
var

123

In [18]:
type(var)

int

In [19]:
# to convert from int to float 
var = float(var)

In [20]:
var

123.0

In [21]:
type(var)

float

In [22]:
# Again to convert from float to string
var = str(var)

In [23]:
var

'123.0'

In [24]:
type(var)

str

So to convert to integer , float and string we will int() , float() and str() of functions

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [25]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Here we are concatenating the string with integer so we are getting the compatible error
to avoid this we can give 99 inside the quotes

In [26]:
'I have eaten ' + '99 '+ ' burritos.'

'I have eaten 99  burritos.'