1.Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [4]:
years_list=[]
n=int(input('Enter your birht year:'))
for i in range(5):
    years_list.append(n)
    n=n+1
print(years_list)

Enter your birht year:1999
[1999, 2000, 2001, 2002, 2003]

2.In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [5]:
years_list[2]

2001

3.In the years list, which year were you the oldest?

In [6]:
years_list[-1]

2003

4.Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [7]:
things=[]
for i in range(3):
    things.append(input())
print(things)

mozzarella
cinderella
salmonella
['mozzarella', 'cinderella', 'salmonella']

5.Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [9]:
# In things list 'cinderella' refers to a person so will make it capitalize 
things[1].upper()
things

['mozzarella', 'cinderella', 'salmonella']

So even after you capitalize 'cinderella' still ultimately u could c no change in list

6.Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [11]:
surprise=[]
for i in range(3):
    surprise.append(input())
print(surprise)

Groucho
Chico
Harpo
['Groucho', 'Chico', 'Harpo']

7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [12]:
surprise

['Groucho', 'Chico', 'Harpo']

In [19]:
((surprise[-1].lower())[::-1]).upper()

'OPRAH'

In [20]:
surprise

['Groucho', 'Chico', 'Harpo']

8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [22]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}

In [23]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9.Write the French word for walrus in your three-word dictionary e2f.

In [25]:
e2f['walrus']

'morse'

10.Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [26]:
f2e={}
for i,j in e2f.items():
    f2e[j]=i
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11.Print the English version of the French word chien using f2e.

In [27]:
f2e['chien']

'dog'

12.Make and print a set of English words from the keys in e2f.

In [28]:
lst=[]
for i in e2f.keys():
    lst.append(i)
lst=set(lst)
print(lst)

{'dog', 'walrus', 'cat'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [29]:
life = {'animals':{'cat':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}

In [30]:
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14.Print the top-level keys of life.

In [31]:
for i in life.keys():
    print(i)

animals
plants
other

15.Print the keys for life[&#39;animals&#39;].

In [32]:
for i in life['animals'].keys():
    print(i)

cat
octopi
emus

16.Print the values for  life['animals']['cats']

In [36]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']